<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/@(nameof(Ecommerce.Client)).styles.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <partial name="/Pages/Components/Navbar/_Navbar.cshtml" />
    </header>

    <main role="main" class="p-5">
        @RenderBody()
    </main>

    <partial name="/Pages/Components/Footer/_Footer.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>

<script>
    const navbarToggle = document.getElementById('navbar-toggle');
    const navbarToggleIcon = document.getElementById('navbar-toggle-icon');
    const navbarCollapse = document.getElementById('navbar-collapse');

    navbarToggle.addEventListener('click', () => {
        if (navbarToggleIcon.src.includes('hamburger'))
        {
            navbarToggleIcon.src = "/assets/close.svg"
            
        } else {
            navbarToggleIcon.src = "/assets/hamburger.svg"
        }
        navbarCollapse.classList.toggle('hidden');
    });
</script>
</html>