@page "/Auth/AccessDenied"
@model Ecommerce.Client.Pages.Auth.AccessDeniedModel
@{
}

<div class="row">
    <div class="col">
        <h1>You dont have access to see this content</h1>
    </div>
</div>
