@page "/Home/Product/{id:int}"
@model Ecommerce.Client.Pages.Home.Product.ProductDetail
@{
    ViewData["Title"] = "product-detail";
}

<div class="row">
    <div class="col">
        
    </div>
</div>