<nav id="navbar-container">
    <div>
        <button id="navbar-toggle" type="button" data-toggle="collapse">
            <img id="navbar-toggle-icon" src="/assets/hamburger.svg" width="30px" height="30px" />
        </button>
        <div id="navbar-collapse" class="hidden">
            <ul id="navbar">
                <li>
                    <img src="/assets/store.svg" alt="store icon" width="30px" height="30px" />
                    <a href="/">Store</a>
                </li>
                <li>
                    <img src="/assets/admin.svg" alt="admin icon" width="30px" height="30px" />
                    <a href="/NotFound">Admin</a>
                </li>
                <li>
                    <img src="/assets/cart.svg" alt="cart icon" width="30px" height="30px" />
                    <a href="/NotFound">Cart</a>
                </li>
                <li>
                    <img src="/assets/user.svg" alt="user icon" width="30px" height="30px" />
                    <a>User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>